@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.font-style {
    font-family: 'Italianno', cursive;
    font-size: 30px !important;
}

.card-img-top {
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-color {
    background-color: bisque;
}

@media (min-width:300px) and (max-width:767px) {
    .card-img-top {
        width: auto;
        height: auto;
        max-width: 250px;
        max-height: 250px;
        margin: 0 auto;
    }

    .navbar-li {
        display: none !important;
    }

    .navbar-flexs {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}